root{
    font-family: 'Courier New', Courier, monospace;
    padding: 0%;

}

h1{
    display: inline;
    background-color:white;
    
    
}
ul{
    text-align:justify;
    display:inline;
  
    
}
.Link{padding: 0 ;
    margin: 0 5px;
 
}
h2{
    padding-top:  0 40px;
    margin-top: 0 20px;
    border-top-right-radius: 0 10px;
    border-color: black;
    border-style: dashed;
    text-align: center;

}
p{ padding-top: 0 50px;
    margin-top: 0 15;


}
.footer {
    text-align: center;
}